<div class="container-fluid management-tab">
  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>
  <div class="row mb-2" style="justify-content: space-between;margin:0px;margin-bottom: 2rem;">
    <h1 class="h3 page-title">Terms & Conditions</h1>
  </div>

  <div class="row" *ngIf="!editformdata && setting_Obj">
    <div class="col-12">
      <div class="c-table-wrapper table-responsive-small">
        <div class="availabledata">
          <table class="c-table">
            <thead class="c-table-header">
              <tr class="c-table-row c-table-row-header">

              </tr>
            </thead>
            <tbody class="c-table-body">
              <tr class="c-table-row">

                <td class="c-table-cell c-table-body-cell text-pull-left">Seo Title
                </td>
                <td class="c-table-cell c-table-body-cell text-pull-left">{{setting_Obj.seotitle}}</td>
              </tr>
              <tr class="c-table-row">

                <td class="c-table-cell c-table-body-cell text-pull-left">Seo Description
                </td>
                <td class="c-table-cell c-table-body-cell text-pull-left">{{setting_Obj.seodescription}}</td>
              </tr>
              <tr class="c-table-row">

                <td class="c-table-cell c-table-body-cell text-pull-left">Seo Keyword
                </td>
                <td class="c-table-cell c-table-body-cell text-pull-left">{{setting_Obj.seokeyword}}</td>
              </tr>
              <tr class="c-table-row">

                <td class="c-table-cell c-table-body-cell text-pull-left">Page Title
                </td>
                <td class="c-table-cell c-table-body-cell text-pull-left">{{setting_Obj.pagetitle}}</td>
              </tr>
              <tr class="c-table-row">

                <td style="vertical-align: top;padding-top: 10px;"
                  class="c-table-cell c-table-body-cell text-pull-left">
                  Content
                </td>
                <td class="c-table-cell c-table-body-cell text-pull-left">

                  <div [ngxSummernoteView]="setting_Obj.description"></div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="footer-block  mb-2 mt-4">
            <button type="submit" class="btn green-btn" (click)="editformdata=true">Edit</button>
            <button type="button" class="btn gray-btn" *ngIf="editformdata">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-body custom-modal-body" *ngIf="editformdata">
    <form #f="ngForm" novalidate autocomplete="off">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="collectionname">SEO Title <span class="c-red">*</span></label>
            <input type="text" class="form-control" id="seotitle" placeholder="Enter SEO Title" name="seotitle"
              #seotitle="ngModel" [(ngModel)]="setting_Obj.seotitle" required
              [class.is-invalid]="f.submitted && seotitle.invalid">
            <div class="alert alert-danger" *ngIf="(seotitle.touched || f.submitted) && seotitle.invalid">
              <p>SEO Title can't be blank.</p>
            </div>
          </div>
        </div>
        <div class="col-12 ">
          <div class="form-group">
            <label for="collectionname">SEO Description <span class="c-red">*</span></label>
            <input type="text" class="form-control" id="seodescription" placeholder="Enter SEO Description"
              name="seodescription" #seodescription="ngModel" [(ngModel)]="setting_Obj.seodescription" required
              [class.is-invalid]="f.submitted && seodescription.invalid">
            <div class="alert alert-danger" *ngIf="(seodescription.touched || f.submitted) && seodescription.invalid">
              <p>SEO Description can't be blank.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="collectiontext">SEO Keywords <span class="c-red">*</span></label>
            <input type="text" class="form-control" id="seokeyword" placeholder="Enter Keywords" name="seokeyword"
              #seokeyword="ngModel" [(ngModel)]="setting_Obj.seokeyword" required
              [class.is-invalid]="f.submitted && seokeyword.invalid">
            <div class="alert alert-danger" *ngIf="(seokeyword.touched || f.submitted) && seokeyword.invalid">
              <p>Keywords Text can't be blank.</p>
            </div>
          </div>
        </div>
        <div class="col-12 ">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="pagetitle" name="pagetitle" placeholder="Enter Page Title "
              #pagetitle="ngModel" [(ngModel)]="setting_Obj.pagetitle" required />
            <div class="alert alert-danger" *ngIf="pagetitle.touched && pagetitle.invalid">
              <p>Page Title can't be blank.</p>
            </div>
          </div>
        </div>
        <div class="col-12 ">
          <div class="form-group">
            <label>Sub Title</label>
            <div [class.is-invalid]="f.submitted && (description.invalid || !setting_Obj.description)">
              <div [ngxSummernote]="config" name="description" #description="ngModel"
                [(ngModel)]="setting_Obj.description"></div>
            </div>
            <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
              <p>Content can't be blank.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-block  mb-2 mt-4">
        <button type="submit" class="btn green-btn" (click)="addPrivacyPolicy()">Add</button>
        <button type="button" class="btn gray-btn ml-4" (click)="editformdata=false">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
<!-- End of Footer -->
