<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div>
        <h6 class="footer__title">EXPLORE</h6>
        <ul class="footer__list">

          <a href="" class="footer__list-link">Journeys</a>
          <a href="" class="footer__list-link">Places</a>
          <a href="" class="footer__list-link">Channels</a>
          <a href="" class="footer__list-link">Editors' picks</a>

        </ul>
      </div>
      <div>
        <h6 class="footer__title">COMMUNITY</h6>
        <ul class="footer__list">
          <a href="" class="footer__list-link">Contributors</a>
          <a href="" class="footer__list-link">Members</a>
          <a href="" class="footer__list-link">True North</a>
        </ul>
      </div>
      <div>
        <h6 class="footer__title">ABOUT</h6>
        <ul class="footer__list">
          <a href="" class="footer__list-link">Mission</a>
          <a href="" class="footer__list-link">Story & Team</a>
          <a href="" class="footer__list-link">Donate</a>
          <a href="" class="footer__list-link">Terms</a>
        </ul>
      </div>
      <div>
        <h6 class="footer__title">STORE</h6>
        <ul class="footer__list">
          <a href="" class="footer__list-link">Photography Products</a>
          <a href="" class="footer__list-link">Maptia Manifesto</a>
        </ul>
      </div>
      <div>
        <h6 class="footer__title">FOLLOW</h6>
        <ul class="footer__list">
          <a href="" class="footer__list-link">Facebook</a>
          <a href="" class="footer__list-link">Instagram</a>
          <a href="" class="footer__list-link">Twitter</a>
        </ul>
      </div>
    </div>
  </div>
</footer>
