
<div class="main-page-content">
    <div class="setting-menu-bar">
      <ul class="menu-ul">
        <li>
          <a routerLink="/headerimage/logo" routerLinkActive="active" (click)="onClickLink(0)">Logo</a>
        </li>
        <li>
          <a routerLink="/headerimage/icon" routerLinkActive="active" (click)="onClickLink(1)">Icon</a>
        </li>
        <!-- <li>
          <a routerLink="/websitefooter/footer-Sub-Headings" routerLinkActive="active" (click)="onClickLink(2)">Footer
            Sub-Headings</a>
        </li> -->
      </ul>
    </div>
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  