<div class="container-fluid management-tab">
  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>
  <div class="row section-box">
    <div class="col-12">
      {{ type | titlecase }} user
      <div>
      </div>

      <div class="row">
        <div class="col-12">
          <form #f="ngForm" novalidate autocomplete="off">
            <div class="row">

              <div class="col-12 col-xl-8 col-md-4">
                <div class="form-group">
                  <label for="collectionname">Name <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" #name="ngModel"
                    [(ngModel)]="user.name" required [class.is-invalid]="f.submitted && name.invalid">
                  <div class="alert alert-danger" *ngIf="(name.touched || f.submitted) && name.invalid">
                    <p>Name can't be blank.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-8 col-md-4">
                <div class="form-group">
                  <label for="collectionname">Email<span class="c-red">*</span></label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                    #email="ngModel" [(ngModel)]="user.email" required
                    [class.is-invalid]="f.submitted && email.invalid">
                  <div class="alert alert-danger" *ngIf="(email.touched || f.submitted) && email.invalid">
                    <p>Email can't be blank.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-8 col-md-4">
                <div class="form-group">
                  <label for="userName">UserName <span class="c-red">*</span></label>
                  <input type="text" class="form-control" id="fname" placeholder="Enter userName" name="userName"
                    #userName="ngModel" [(ngModel)]="user.userName" required
                    [class.is-invalid]="f.submitted && userName.invalid">
                  <div class="alert alert-danger" *ngIf="(userName.touched || f.submitted) && userName.invalid">
                    <p>Username can't be blank.</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-8 col-md-4">
                <div class="form-group">
                  <label for="collectiontext">Password<span class="c-red">*</span></label>
                  <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
                    #password="ngModel" [(ngModel)]="user.password" required
                    [class.is-invalid]="f.submitted && password.invalid">
                  <div class="alert alert-danger" *ngIf="(password.touched || f.submitted) && password.invalid">
                    <p>Password can't be blank.</p>
                  </div>
                </div>
              </div>


              <div class="col-12 col-xl-3 col-md-4">
                <div class="form-group">
                  <label for="collectiontext">Active<span class="c-red">*</span></label>
                  <p-inputSwitch [(ngModel)]="user.active" class="input-switch" [ngModelOptions]="{standalone: true}">
                  </p-inputSwitch>
                </div>
              </div>


            </div>
            <div class="row mt-4 mb-4">
              <div class="col-12">
                <button *ngIf="!user._id" [disabled]="f.invalid" type="submit" class="btn green-btn"
                  (click)="onClickSave()">Save User</button>
                <button *ngIf="user._id" [disabled]="f.invalid" type="submit" class="btn green-btn"
                  (click)="onClickUpdate()">Update User</button>
                <button type="button" class="btn gray-btn ml-4" (click)="onClickCancel()">Cancel</button>
              </div>
            </div>
          </form>
          <div>
          </div>
          <!-- footer -->
          <app-footer></app-footer>
        </div>
        <!-- End of Footer -->
