<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
</ngx-loading>

<div class="modal-header custom-modal-header">
  <div style="font-size: 20px;">
    Set New Password
  </div>

</div>

<div class="modal-body custom-modal-body">
  <form #cauForm="ngForm" name="cauForm" autocomplete="off" *ngIf="user_obj">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="fname">Password <span class="c-red">*</span></label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
            #password="ngModel" [(ngModel)]="user_obj.password" required>
          <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <div>password can't be blank.</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="lname">Confirm Password <span class="c-red">*</span></label>
          <input type="password" class="form-control" id="cpassword" name="cpassword"
            placeholder="Confirm password again" #cpassword="ngModel" [(ngModel)]="user_obj.cpassword" required>
          <div class="alert alert-danger" *ngIf="cpassword.touched && cpassword.invalid">
            <div>Confirm Password can't be blank.</div>
          </div>
          <div class="alert alert-danger" *ngIf="(cpassword.touched) && user_obj.cpassword != user_obj.password">
            <div>password did not match</div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-block mb-2 mt-4">
      <button type="submit" *ngIf="dialogType == 'update'" class="btn green-btn"
        [disabled]="cauForm.invalid || (user_obj.cpassword != user_obj.password)" (click)="updateUser()">Update Password</button>
    </div>
  </form>
</div>
