<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
</ngx-loading>

<div class="modal-header custom-modal-header">
  <div style="font-size: 20px;">
    {{dialogType == 'update' ? 'Update Product Category' : 'Add Product Category'}}
  </div>
  <div class="modal-header-close-btn" (click)="onClose()">
    x
  </div>
</div>

<div class="modal-body custom-modal-body">
  <form #f="ngForm" novalidate autocomplete="off" *ngIf="slider_obj">
    <div class="row">
      <div class="col-12 ">
        <div class="form-group">
          <div>
            <label>Image</label>
          </div>

          <div class="uploaded-file-block" *ngIf="slider_obj.sliderImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" alt="image" [src]="slider_obj.sliderImageUrl" /></div>
              <div class="close-btn-wrapper" (click)="clearCLFile()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="uploaded-file-block" *ngIf="slider_obj.image && !slider_obj.sliderImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" alt="image" [src]="base_url+'/'+slider_obj.image" /></div>

            </div>
          </div>
          <button type="button" class="btn dark-blue-btn" (click)="sliderImageFile.click()">
            <div>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Upload
            </div>
            <input #sliderImageFile type="file" (change)="onCLUpload($event)" accept="image/*" style="display: none" />
          </button>
        </div>
      </div>

      <div class="col-12 ">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" #name="ngModel"
            [(ngModel)]="slider_obj.name" required />
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <p>Text can't be blank.</p>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-group">
          <label>Link</label>
          <input type="text" class="form-control" id="link" name="link" placeholder="Enter Link" #link="ngModel"
            [(ngModel)]="slider_obj.link"/>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="productname">Select Collection <span class="c-red">*</span></label>
          <p-multiSelect #collection="ngModel" id="collection" name="collection" [options]="collection_data"
            optionValue="_id" optionLabel="name" placeholder="Select Collections"
            defaultLabel="Select Collections" [(ngModel)]="slider_obj.selectedCollection"
            [ngModelOptions]="{standalone: true}"></p-multiSelect>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-group">
          <label>Slug</label>
          <input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" #slug="ngModel"
            (keyup)="generateSlug($event)" [(ngModel)]="slider_obj.slug" required />
          <div class="alert alert-danger" *ngIf="slug.touched && slug.invalid">
            <p>Slug can't be blank.</p>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="collectionname">SEO Title <span class="c-red">*</span></label>
          <input type="text" class="form-control" id="seotitle" placeholder="Enter SEO Title" name="seotitle"
            #seotitle="ngModel" [(ngModel)]="slider_obj.seotitle" required
            [class.is-invalid]="f.submitted && seotitle.invalid">
          <div class="alert alert-danger" *ngIf="(seotitle.touched || f.submitted) && seotitle.invalid">
            <p>SEO Title can't be blank.</p>
          </div>
        </div>
      </div>
      <div class="col-12 ">
        <div class="form-group">
          <label for="collectionname">SEO Description <span class="c-red">*</span></label>
          <input type="text" class="form-control" id="seodescription" placeholder="Enter SEO Description"
            name="seodescription" #seodescription="ngModel" [(ngModel)]="slider_obj.seodescription" required
            [class.is-invalid]="f.submitted && seodescription.invalid">
          <div class="alert alert-danger" *ngIf="(seodescription.touched || f.submitted) && seodescription.invalid">
            <p>SEO Description can't be blank.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="collectiontext">SEO Keywords <span class="c-red">*</span></label>
          <input type="text" class="form-control" id="seokeyword" placeholder="Enter Keywords" name="seokeyword"
            #seokeyword="ngModel" [(ngModel)]="slider_obj.seokeyword" required
            [class.is-invalid]="f.submitted && seokeyword.invalid">
          <div class="alert alert-danger" *ngIf="(seokeyword.touched || f.submitted) && seokeyword.invalid">
            <p>Keywords Text can't be blank.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="footer-block  mb-2 mt-4">
      <button type="submit" *ngIf="dialogType == 'add'" class="btn green-btn"
        [disabled]="f.invalid || !slider_obj.name || !slider_obj.sliderImageUrl"
        (click)="addProductCategory()">Add</button>
      <button type="submit" *ngIf="dialogType == 'update'" class="btn green-btn"
        [disabled]="f.invalid || !slider_obj.name" (click)="updateProductCategory()">Update category</button>
      <button type="button" class="btn gray-btn" (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>
