<header>
  <a routerLink="home" class="logo">
    <img src="../../assets/img/maptialogo.png" alt="" class=""
  /></a>
  <input type="checkbox" id="menu-bar" />
  <label for="menu-bar">Menu</label>
  <nav class="navbar">
    <ul>
      <li>
        <a href="#">Explore</a>
        <ul>
          <li><a href="#">Editor's Picks</a></li>
          <li><a href="#">Journeys</a></li>
          <li><a routerLink="home/places-featured">Places</a></li>
          <li><a href="#">Channels</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Community</a>
        <ul>
          <li><a href="#">Contributors</a></li>
          <li><a href="#">Members</a></li>
          <li><a href="#">True North</a></li>
        </ul>
      </li>
      <!-- <li><a href="#">LogoImage</a></li> -->
      <li>
        <a href="#">Store</a>
        <ul>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Manifesto</a></li>
          <li><a href="#">SeaLegacy</a></li>
        </ul>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#" routerLink="/suggestions">suggestions</a></li>
    </ul>
  </nav>
</header>
