<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
<!-- <button><a  *ngIf="loggedIn()" href="/user/update">Edit Profile</a></button> -->
<nav>
  <div class="wrapper">
    <div class="logo">
      <a><img [src]="base_url + '/' + icon.image" class="micon1" /></a>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="slider" id="menu-btn" />
    <input type="radio" name="slider" id="close-btn" />
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"
        ><i class="fas fa-times"></i
      ></label>

      <li>
        <a class="desktop-item">EXPLORE</a>
        <input type="checkbox" id="showMega" />
        <!-- <label for="showMega" class="mobile-item">EXPLORE</label> -->
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <header>EDITORS' PICKS</header>

              <ul class="mega-links">
                <!-- routerLink="/suggestion/suggestionUser"  -->
                <a routerLink="/suggestion" class="desktop-item">EXPLORE</a>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
            <div class="row">
              <header>JOURNEYS</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
            <div class="row">
              <header>PLACES</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
            <div class="row">
              <header>CHANNELS</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li>
        <a href="#" class="desktop-item">COMMUNITY</a>
        <input type="checkbox" id="showMega" />
        <!-- <label for="showMega" class="mobile-item">COMMUNITY</label> -->
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <header>MEMBERS</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
            <div class="row">
              <header>CONTRIBUTORS</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
            <div class="row">
              <header>TRUE NORTH</header>
              <ul class="mega-links">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, facere.
                </p>
              </ul>
            </div>
          </div>
        </div>
      </li>

      &nbsp;
      <div class="logo">
        <a><img [src]="base_url + '/' + icon.logoImage" class="micon" /></a>
      </div>
      &nbsp;&nbsp;
      <li><a href="#">STORE</a></li>
      <li><a href="#">ABOUT</a></li>

  

      <li>
        <a routerLink="/contributors/list" class="desktop-item"
          >AURCONTRIBUTORS</a
        >
      </li>

      <li>
        <a routerLink="/suggestion" class="desktop-item">SUGGESTION</a>
      </li>
      <li>
        <a class="search-button" routerLink="/search" routerLinkActive="active">
          <i class="fa fa-search"></i>
        </a>
      </li>
    </ul>

    <div class="styling">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a *ngIf="!loggedIn()" routerLink="/user" style="color: black">Join | </a>
      <a *ngIf="!loggedIn()" routerLink="/user/user-login" style="color: black"
        >Login</a
      >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a  *ngIf="loggedIn()" (click)="logout()" style="color:black">Logout</a>  -->
      <a
        ><img
          [src]="base_url + '/' + user.profileImage"
          class="user-pic"
          (click)="toggleMenu()"
          alt="No pic"
      /></a>
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img [src]="base_url + '/' + user.profileImage" alt="user" />
            <h4>{{ user.userName | uppercase }}</h4>
          </div>
          <hr />
          <a href="/user/update" class="sub-menu-link">
            <img src="../../../assets/img/user-avatar.png" alt="" />
            <p>Edit Profile</p>
            <!-- <span>></span> -->
          </a>
          <a href="/user/setting" class="sub-menu-link">
            <img src="../../../assets/img/setting.png" alt="" />
            <p>Settings</p>
            <!-- <span>></span> -->
          </a>
          <a href="" class="sub-menu-link">
            <img src="../../../assets/img/logout.png" alt="" />
            <p (click)="logout()">Logout</p>
            <!-- <span>></span> -->
          </a>
        </div>
      </div>
    </div>
    <label for="menu-btn" class="btn menu-btn"
      ><i class="fas fa-bars"></i
    ></label>
  </div>

  <!-- [src]="base_url+'/'+user.profileImage" -->
  <!-- <div *ngIf="loggedIn()" class="dropdown mr-5" dropdown>
      <a href="#" class="dropdown-toggle text-light" dropdownToggle >Welcome</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a  *ngIf="loggedIn()" href="#" class="dropdown-item">
          <i class=" far fa-user-circle"></i>My Profile</a>
          <a (click)="logout()" class="dropdown-item">
            <i class=" fas fa-sign-out-alt"></i>Logout</a>
      </div>
    </div>
   -->

  <!-- <li class="nav-item dropdown no-arrow">

    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img [src]="" alt="Avatar" class="avatar" *ngIf="">
      <img src="assets/img/male-avatar.png" alt="Avatar" class="avatar" *ngIf="">
    </a> -->
  <!-- Dropdown - User Information -->
  <!-- <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="user-name">welcome</a>
      <hr style="margin-top: 0.75rem;margin-bottom: 0.75rem;">
      <a (click)="logout()" class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
      </a>
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePass">
        <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i> Change Password
      </a>
    </div>
  </li> -->
</nav>

<!-- <router-outlet></router-outlet> -->
