  /* fav */
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ms+Madi&family=Noto+Sans+HK:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@100&family=Signika:wght@200&display=swap');
  .search{
  padding-left: 2rem;
  font-size: 22px;
  border: none;
  margin-left: 0.2rem;
  width: 80%;
  /* background-color: rebeccapurple; */
  
  }
  
  form{
      
     margin-top: 7rem; 
     width:60%;
      height: 60px;
      border: transparent;
      border-radius: 19px;
      box-shadow: 10px 10px 8px #888888;
      margin-left: 9%;
     }
  
   input:focus{
         outline: none;
     }
     .fullpage {
        width: 80%;
     
      margin-left: 10%;
    
        
     
      }
  .container{
        font-weight: 400;
        margin-top: 7vh;  
      /* padding: 20px; */
       
  
     
   
  }
   .col-6{
      
        align-items: center;
        
        margin-top: 7vh;  
       
        
          
         
      
   }
  
         
   img{
        
         width:80% ;
        
       
   }
   .blogs{
     
        margin-top: 7vh;
        font-family: 'Noto Sans HK', sans-serif;
    
        word-spacing: 2px;
        letter-spacing: 1px;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
       
       
    
       
        
   }
   .header{
        font-weight:800;
        letter-spacing: 1px;
      
        font-family: 'Noto Sans HK', sans-serif;
        width: 95%;
        border-bottom: solid 0.3px  #888888;
       
   }
  
  
   .peaple{
        margin-top: 7vh;  
     /* width: 70%; */
    
   }
  
   .title{
        font-family: 'Merriweather', serif;
   }
  
  .future-btn{
  color: antiquewhite;
  text-align: center;
  padding-top: 0px;
  background-color: black;
  border-radius: 20px;
  height: 2.8vh;
  width: 10vh;
  margin-left: 9px;
  
  }
  
  .btn1{
        background-color: #888888;
        font-size: 30px;
  }
  .ppl{
       padding-top:  3vh;
  }
  
  .ppl-img {
  margin-left: 30px;
  border-radius: 50%;
  width: 6.5vh;
  height: 6.5vh;
  }
  .col-8{
  
       margin: 0px;
     }