<h1>Requests</h1>

<!-- <div class="row">
  <div class="col-4">
    <div class="col">
      <div class="col-4" *ngFor="let item of data">
        <p>{{ item.Name }}</p>
        <p>{{ item.Email }}</p>
        <p>{{ item.Massage }}</p>
        <p>{{ item.additional }}</p>
        <p>{{ item.createdAt }}</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="col">
  <div class="col-sm-11"></div>
  <div class="col-sm-1"></div>
</div> -->

<!-- <div class="fullpage">
  <h1>suggestions</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="row container">
        <p class="header">favrates</p>
        <div class="col-sm-12" *ngFor="let item of data">
          <div class="container-fluid management-tab">
            <div
              class="row"
              style="
                justify-content: space-between;
                margin: 0px;
                margin-bottom: 2rem;
              "
            ></div>
            <div class="row mb-3"></div>
            <div class="row">
              <div class="col-12">
                <div class="c-table-wrapper table-responsive-small">
                  <table class="c-table">
                    <thead class="c-table-header">
                      <tr class="c-table-row c-table-row-header">
                        <div style="width: 5px"></div>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          Name
                        </th>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          Blog Title
                        </th>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          Discription
                        </th>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          SEO Title
                        </th>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          SEO Description
                        </th>
                        <th
                          class="c-table-cell c-table-header-cell text-pull-left"
                        >
                          SEO Keyword
                        </th>

                        <th
                          class="c-table-cell c-table-header-cell text-pull-right"
                        >
                          Actions
                        </th>
                      </tr>
                    </thead>
                    <tbody class="c-table-body" *ngIf="data && data.length > 0">
                      <tr
                        class="c-table-row"
                        *ngFor="let tab_data of data; let i = index"
                      >
                        <div style="width: 5px"></div>
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          <img
                            height="100"
                            [src]="base_url + '/' + tab_data.image"
                          />
                        </td>
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          {{ tab_data.title }}
                        </td>
                       
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          {{ tab_data.smallDiscription }}
                        </td>
                     
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          {{ tab_data.seoTitle }}
                        </td>
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          {{ tab_data.seoDescription }}
                        </td>
                        <td
                          class="c-table-cell c-table-body-cell text-pull-left"
                        >
                          {{ tab_data.seoKeyword }}
                        </td>
                        <td
                          class="c-table-cell c-table-body-cell text-pull-right"
                        >
                          <div
                            class="action-btn"
                            title="Edit Slider"
                            (click)="onClickEditBlog(tab_data)"
                            style="color: #3985fc"
                          >
                            accept
                          </div>
                          <div
                            class="action-btn"
                            title="Delete Slider"
                            (click)="onClickDeleteBlog(tab_data)"
                            style="color: #ff5151"
                          >
                            Delete
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div></div>
              </div>
            </div> -->
<!-- Footer -->

<!-- End of Footer -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<div class="col-md-8 container">
  <h4 class="header">{{ data.length }} Contributor requests</h4>
  <div class="row ppl" *ngFor="let item of data">
    <div class="col-4">
      <div class="img">
        <img
          [src]="base_url + '/' + item.profileImage[0].profileImage"
          alt=""
        />
      </div>
    </div>
    <div class="col-8">
      <p>{{ item.Name }}</p>
      <p>{{ item.Email }}</p>
      <p>{{ item.Message }}</p>
      <p>{{ item.additional }}</p>
      <p>{{ item.createdAt | date }}</p>
    </div>
    <div class="col-12">
      <button
        class="btn btn-primary"
        class="action-btn"
        title="accept"
        (click)="accepRequest(item)"
        style="color: #3985fc"
      >
        accept
      </button>

      <button
        class="btn btn-danger"
        class="action-btn"
        title="delelte"
        (click)="onClickDeleteBlog(item)"
        style="color: #3985fc"
      >
        delelte
      </button>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
