<!-- <img class="placeimage" [src]="base_url +'/'+ item.mapImage" alt="" srcset=""> -->
<div class="about_section">
  <div class="container">
    <div class="row rows" *ngFor="let item of liked">
      <div class="col-sm-8">
        <h1 class="headline">FEature blogs</h1>
        <div>
          <img [src]="base_url + '/' + item.image" alt="" />
        </div>
      </div>
      <div class="col-sm-4">
        <div class="">
          <h1 class="headline">{{ item.title }}</h1>
          <p class="blogP">
            {{ item.smallDiscription }}, Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe illum voluptate deleniti, expedita vel minus
            iste, nobis autem laudantium repellendus veritatis aperiam deserunt
            asperiores ex! Distinctio obcaecati reiciendis amet asperiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe illum
            voluptate deleniti, expedita vel minus iste, nobis autem laudantium
            repellendus veritatis aperiam deserunt asperiores ex! Distinctio
            obcaecati reiciendis amet asperiores.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<body>
  <!-- <app-future-blogs></app-future-blogs> -->
  <section>
    <div class="row containers">
      <p class="headline">BLOGS</p>

      <div class="col-sm-6" *ngFor="let item of table_data">
        <div class="blogs">
          <div class="img">
            <img
              (click)="showBlog(item)"
              [src]="base_url + '/' + item.image"
              alt=""
            />
          </div>
          <div class="question">
            <button
              class="transparent classic"
              (click)="category(item.highlightCategory)"
            >
              <span>{{ item.highlightCategory }}</span>
            </button>
            <button class="transparent1 classic">
              <span>INDIA</span>
            </button>
          </div>
          <h3 class="blogtitle">{{ item.title }}</h3>
          <p>
            {{ item.smallDiscription }}
          </p>
          <div class="row icons">
            <div class="row col-3">
              <button class="favButton col" (click)="clickeds(item)">
                <i
                  *ngIf="item.clicked"
                  class="fa fa-heart"
                  style="font-size: 30px"
                ></i>
                <i
                  *ngIf="!item.clicked"
                  class="far fa-heart"
                  style="font-size: 30px"
                ></i>
              </button>

              <p class="col">{{ item.clicked ? "Unlike" : "Like" }}</p>
            </div>
            <div class="row col-3">
              <button class="bookmark col" (click)="bookCheck(item)">
                <i
                  *ngIf="!item.bookmark"
                  class="fas fa-bookmark"
                  style="font-size: 22px; color: red"
                ></i>

                <i
                  *ngIf="item.bookmark"
                  class="fa fa-bookmark-o"
                  style="font-size: 24px"
                ></i>
              </button>
              <p class="col">
                {{ item.bookmark ? "Add To Bookmark " : "Remove BookMark" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- suggesions -->
  <!-- <div class="col">
  <div class="col-sm-11"></div>
  <div class="col-sm-1"></div>
</div> -->
</body>
