/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
*body {
  background: #e5e5e5;
  margin: 0;
}

.row {
  display: flex;
}
.container {
  max-width: 90%;
  margin: 0, auto;
}

h1 {
  font-size: clamp(60px, 10vw, 96px);
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.cards {
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0;
}

.card {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  max-width: 150px;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  background-image: url("../../../assets/img/cloud-sky-twilight-times_74190-1765.webp");
  background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5pZ2h0JTIwc2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: max-width 0.5s ease-in-out;
  -webkit-transition: max-width 0.5s ease-in-out;
  -moz-transition: max-width 0.5s ease-in-out;
  -ms-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
}
.placeimage {
  align-items: flex-start;

  border-radius: 25px;

  height: 500px;
  width: 500px;
}
.card:nth-of-type(2) {
  background-image: url(../../../assets/img/travel-by-car-into-dawn-concept.jpg);
}
.card:nth-of-type(3) {
  background-image: url("http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcT2flpNZx086BC6BmM-NlHkukeLeHgtDwKFU-4RX0NNegXJIKV8EGvm7Rlt3sgSlckT");
}

.card:hover {
  max-width: 500px;
}

.card-body {
  background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
  padding: 4em;
}

.title {
  background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
  position: absolute;
  inset: 0;
}
.card:hover .title {
  all: unset;
}
h2 {
  font-size: clamp(38px, 5vw, 48px);
  color: #fffbfb;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  transform: rotate(-90deg) translateX(-350px);
  -webkit-transform: rotate(-90deg) translateX(-350px);
  -moz-transform: rotate(-90deg) translateX(-350px);
  -ms-transform: rotate(-90deg) translateX(-350px);
  -o-transform: rotate(-90deg) translateX(-350px);
}

.card:hover h2 {
  padding-bottom: 0.5em;
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}

p {
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.card:hover p {
  position: relative;
  opacity: 1;
  max-height: 100%;
  transition-delay: 0.3s;
} */

/* //next  */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

section {
  margin: 0;
  padding: 0;
  /* background-color: #161616; */
  /* font-family: "Raleway", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
}

.card .card-media {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.card .card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.card:hover .card-media img {
  transform: scale(1.05);
}

.card .card-media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.3);
  transition: all 0.3s;
  z-index: 1;
}

.card:hover .card-media::before {
  background-color: #161616;
}

.card .card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  opacity: 0;
  transition: all 0.3s;
}

.card:hover .card-content {
  opacity: 1;
}

.card .card-content .card-header {
  margin-bottom: 30px;
}

.card .card-content .card-header .card-date {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.card .card-content .card-header h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
}

.card .card-content .card-header h3 a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.card .card-content .card-header h3 a:hover {
  color: #cf000f;
}

.card .card-content .card-desc {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 27px;
}

.card .card-content .card-footer {
  margin-top: 100px;
}

.card .card-content .card-footer .read-more-link {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.card .card-content .card-footer .read-more-link:hover {
  color: #cf000f;
}

.card .read-more-link svg {
  height: 10px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.card .read-more-link:hover svg {
  transform: translateX(5px);
}

.card .card-border span {
  display: inline-block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s linear;
  z-index: 2;
}

.card .card-border span.top {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.card .card-border span.right {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.card .card-border span.bottom {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.card .card-border span.left {
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

.card:hover .card-border span.top {
  transform: scaleX(1);
}

.card:hover .card-border span.right {
  transform: scaleY(1);
  transition-delay: 0.3s;
}

.card:hover .card-border span.bottom {
  transform: scaleX(1);
  transition-delay: 0.6s;
}

.card:hover .card-border span.left {
  transform: scaleY(1);
  transition-delay: 0.9s;
}

/* Let's write the media query */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }

  .card {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.title {
  font-size: 60px;
  align-items: center;
}
