@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
*,
/* *::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
} */
*body {
 
  background: #e5e5e5;
  
}

.rows {
  display: flex;
}
.container {
  max-width: 90%;
 
}

.h1 {
  margin-top: 3vh;
  font-size: clamp(60px, 10vw, 96px);
  color: #000000;
  text-transform: uppercase;

}
.cards {
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0;
}

.card {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  max-width: 150px;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  /* background-image: url("../../../assets/img/bg-login.jpg");
  background-image: url(https://images.unsplash.com/photo-1599148400620-8e1ff0bf28d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG5pZ2h0JTIwc2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: max-width 0.5s ease-in-out;
  -webkit-transition: max-width 0.5s ease-in-out;
  -moz-transition: max-width 0.5s ease-in-out;
  -ms-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
}
.placeimage {
  align-items: flex-start;

  border-radius: 25px;

  height: 500px;
  width: 500px;
}
/* .card:nth-of-type(2) {
  background-image: url(../../../assets/img/graph.jpg);
}
.card:nth-of-type(3) {
  background-image: url("http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcT2flpNZx086BC6BmM-NlHkukeLeHgtDwKFU-4RX0NNegXJIKV8EGvm7Rlt3sgSlckT");
} */

.card:hover {
  max-width: 500px;
}

.card-body {

  /* background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%); */
  padding: 4em;
}

.title {
  background: linear-gradient(180deg, rgba(45, 45, 45, 0) 0%, #2d2d2d 100%);
  position: absolute;
  inset: 0;
}
.card:hover .title {
  all: unset;
}
h2 {
  font-size: clamp(38px, 5vw, 48px);
  color: #fffbfb;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  transform: rotate(-90deg) translateX(-350px);
  -webkit-transform: rotate(-90deg) translateX(-350px);
  -moz-transform: rotate(-90deg) translateX(-350px);
  -ms-transform: rotate(-90deg) translateX(-350px);
  -o-transform: rotate(-90deg) translateX(-350px);
}

.card:hover h2 {
  padding-bottom: 0.5em;
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}

.p {
  position: absolute;
  font-size: 18px;
  color: #fff;
  
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.card:hover .p {
  position: relative;
  opacity: 1;
  max-height: 100%;
  transition-delay: 0.3s;
}
.headline{
  font-size: 80px;
  color: #000000;
  text-transform: uppercase;

}
.blogP{
margin-top: 30px;
  font-size: 18px;
  
}
img{
  width: 100%;
}

/* blogs */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ms+Madi&family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@100&family=Signika:wght@200&display=swap');
.search{
padding-left: 2rem;
font-size: 22px;
border: none;
margin-left: 0.2rem;
width: 80%;
/* background-color: rebeccapurple; */

}

form{
    
   margin-top: 7rem; 
   width:60%;
    height: 60px;
    border: transparent;
    border-radius: 19px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 9%;
   }

 input:focus{
       outline: none;
   }
   .fullpage {
      width: 100%;
      border-collapse: collapse;
    margin-left: 10%;
  
      
   
    }
.containers{
  width: 100%;
      font-weight: 400;
      margin-top: 7vh;  
      padding: 4%;



   
 
}
 .col-sm-6{
    padding: 20px;
    align-items:unset;
    border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
    
    
 }

  .img{
   
    width: 98%;
  }     
  .img img{
     
       width:100% ;
      
     
 }
 .blogs{
  align-items: center;
      margin-top: 7vh;
      font-family: 'Noto Sans HK', sans-serif;
   
      word-spacing: 2px;
      letter-spacing: 1px;
      
     
  
     
      
 }
 .header{
      font-weight:800;
      letter-spacing: 1px;
      
      font-family: 'Noto Sans HK', sans-serif;
      width: 100%;
      border-bottom: solid 0.3px  #888888;
     
 }

 .peaple{
      margin-top: 7vh;  
   width: 70%;
  
 }

 .blogtitle{
  font-size: 50px;
  font-family: 'Merriweather', serif;
  margin-top: 0px;
 }

.future-btn{
  margin: 20px;
  color: antiquewhite;
   text-align: center;
  padding-top: 0px;
background-color: black;
border-radius: 20px;
height: 2.8vh;
width: 10vh;
margin-left: 9px;

}

.btn1{
      background-color: #888888;
      /* font-size: 30px; */
}
.titles{
  width: 80%;
}

/* blogs? */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ms+Madi&family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@100&family=Signika:wght@200&display=swap');
/* .search{
padding-left: 2rem;
font-size: 22px;
border: none;
margin-left: 0.2rem;
width: 80%;
/* background-color: rebeccapurple; */

/* } */ 

/* form{
    
   margin-top: 7rem; 
   width:60%;
    height: 60px;
    border: transparent;
    border-radius: 19px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 9%;
   } */

 /* input:focus{
       outline: none;
   } */
   .fullpage {
      width: 80%;
   
    margin-left: 10%;
  
      
   
    }
.container{
      font-weight: 400;
      margin-top: 7vh;  
    /* padding: 20px; */
     

   
 
}
 .col-6{
    
      align-items: center;
      
      margin-top: 7vh;  
     
      
        
       
    
 }

       
 img{
      
       width:80% ;
      
     
 }
 .blogs{
   
      margin-top: 7vh;
      font-family: 'Noto Sans HK', sans-serif;
  
      word-spacing: 2px;
      letter-spacing: 1px;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
     
     
  
     
      
 }
 .header{
      font-weight:800;
      letter-spacing: 1px;
    
      font-family: 'Noto Sans HK', sans-serif;
      width: 95%;
      border-bottom: solid 0.3px  #888888;
     
 }


 .peaple{
      margin-top: 7vh;  
   /* width: 70%; */
  
 }

 .title{
      font-family: 'Merriweather', serif;
 }

.future-btn{
color: antiquewhite;
text-align: center;
padding-top: 0px;
background-color: black;
border-radius: 20px;
height: 2.8vh;
width: 10vh;
margin-left: 9px;

}

.btn1{
      background-color: #888888;
      font-size: 30px;
}
.ppl{
     padding-top:  3vh;
}

.ppl-img {
margin-left: 30px;
border-radius: 50%;
width: 6.5vh;
height: 6.5vh;
}
.col-8{

     margin: 0px;
}
/* font-family: "Publico Text",Georgia,Times,"Times New Roman",serif!important; */


/* diomand button  */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.25s all 0.02s ease-in-out;
}




.transparent {
     
  position: relative;
  margin: 1rem auto;
  text-align: center;
  font-size: 0.7rem;
  line-height: 0.6rem;
  vertical-align: middle;
  color: #ffffff;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  border-color: #000000;
  padding: 0.5rem;
  cursor: pointer;
min-width: 10vh;
  background: transparent;
 
  /* width: calc(100% / 10); */
}

.transparent span {
  z-index: 20;
  position: relative;
  
}

.transparent::before,
.transparent::after {
  content: "";
  position: absolute;
  border-color: inherit;
  border-style: inherit;
  height: 50%;
  width: 100%;
  left: 0;
  z-index: 10;
  background-color: black;
}

.transparent::before {
  border-width: 2px 2px 0 2px;
  top: 0;
  transform-origin: center bottom;
  transform: perspective(0.2rem) rotateX(3deg);
}

.transparent::after {
  border-width: 0 2px 2px 2px;
  bottom: 0;
  transform-origin: center top;
  transform: perspective(0.2rem) rotateX(-3deg);
}



.transparent1 {
     
     margin-left: 20px;
     position: relative;
     
     text-align: center;
     font-size: 0.7rem;
     line-height: 0.6rem;
     vertical-align: middle;
     color: #ffffff;
     display: inline-block;
     border-width: 0;
     border-style: solid;
     border-color: gray;
     padding: 0.5rem;
     cursor: pointer;
   min-width: 10vh;
  
     background: transparent;
    
   
   }
   
   .transparent1 span {

     z-index: 20;
     position: relative;
     
   }
   
   .transparent1::before,
   .transparent1::after {
     content: "";
     position: absolute;
     border-color: inherit;
     border-style: inherit;
     height: 50%;
     width: 100%;
     left: 0;
     z-index: 10;
     background-color: gray;
   }
   
   .transparent1::before {
     border-width: 2px 2px 0 2px;
     top: 0;
     transform-origin: center bottom;
     transform: perspective(0.2rem) rotateX(3deg);
   }
   
   .transparent1::after {
     border-width: 0 2px 2px 2px;
     bottom: 0;
     transform-origin: center top;
     transform: perspective(0.2rem) rotateX(-3deg);
   }
   .col-8 h5{
     font-size:16px;
     font-family: 'Merriweather', serif;
   }
   .col-8 p{
     font-size:13px;
   }

   .favButton .btn{
    /* border: none; */
   }

   /* .bookmark .fa{
    background-color: red;
   } */


   .like-button {
    font-size: 1rem;
    padding: 5px 10px;
    color: #585858;
    }
    
    .liked {
    font-weight: bold;
    color: #1565c0;
    }

    
    .fa{
      color: red;
    }

    .bookmark{
      border: none;
      background-color: transparent;
    }

    .favButton{
      border: none;
      background-color: transparent;
    }

    .icons{
      margin-top: 20px;
      align-items: center;
    }