<section class="aboutUs container1">
  <br><br><br><br>
  <p class="title">About Us</p>
  <div>

    <div class="card1">
      {{aboutUs.contributorPara1}}
    </div>
  </div>
  <div class="container">

    <div class="card">

      {{aboutUs.aim}}
    </div>
    <div class="card">
      {{aboutUs.firstTitle}}
    </div>
    <div class="card">
      {{aboutUs.contributorPara1}}
    </div>
  </div>
</section>


<p class="title">Places</p>
<section>
  <div class="container">
    <div class="card" *ngFor="let place of table_data">
      <img [src]="base_url +'/'+ place.mapImage" alt="">
      <div class="info-card">
        <h1>{{place.placeName}}</h1>
        <p>{{place.seoDescription}}</p>
      </div>
    </div>
  </div>
</section>
