<div class="container-fluid management-tab">
  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>

  <div class="row" style="justify-content: space-between;margin:0px;margin-bottom: 2rem;">
    <h1 class="h3 page-title">Product</h1>
    <div>
      <div class="btn green-btn" (click)="onClickAddProduct();">
        <span class="dib mr-2"><i class="fas fa-plus"></i></span>
        <div class="dib">Add Product</div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-xl-3 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" id="searchtext" name="searchtext" placeholder="Search by product name"
          #searchtext="ngModel" [(ngModel)]="filters.searchtext">
      </div>
    </div>
    <div class="col-12 col-xl-6 col-md-6">
      <div class="form-group">
        <div class="btn blue-btn" (click)="getSlidersWithFilters({'page':1});">
          <div class="dib">Search</div>
        </div>
        <div class="btn gray-btn ml-3" (click)="filters={};getSlidersWithFilters({'page':1});">
          <div class="dib">Reset</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="c-table-wrapper table-responsive-small">
        <table class="c-table">
          <thead class="c-table-header">
            <tr class="c-table-row c-table-row-header">
              <div style="width: 5px;"></div>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Image
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Product Name
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Collections
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Category
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Total Products
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-right">Actions</th>
            </tr>
          </thead>
          <tbody class="c-table-body" *ngIf="table_data && table_data.length>0">
            <tr class="c-table-row" *ngFor="let tab_data of table_data; let i=index;">
              <div style="width: 5px;"></div>
              <td class="c-table-cell c-table-body-cell text-pull-left"><img height="100"
                  [src]="base_url +'/'+ tab_data.image"></td>
              <td class="c-table-cell c-table-body-cell text-pull-left">{{(tab_data.name)}}</td>
              <td class="c-table-cell c-table-body-cell text-pull-left">{{tab_data.collections.join(', ')}}</td>
              <td class="c-table-cell c-table-body-cell text-pull-left">{{tab_data.category.join(', ')}}</td>
              <td class="c-table-cell c-table-body-cell text-pull-left">{{tab_data.products.length}}</td>
              <td class="c-table-cell c-table-body-cell text-pull-right">
                <div class="action-btn" title="Edit Slider" (click)="onClickEditSlider(tab_data)"
                  style="color: #3985fc">
                  <i class="fa fa-edit"></i>
                </div>
                <div class="action-btn" title="Delete Slider" (click)="onClickDeleteSlider(tab_data)"
                  style="color: #ff5151">
                  <i class="fa fa-trash"></i>
                </div>
              </td>

            </tr>
          </tbody>
          <tbody class="c-table-body" *ngIf="(!table_data || table_data.length==0)">
            <tr class="c-table-row">
              <td class="c-table-cell c-table-body-cell text-center" colspan="6">{{loading ? "Fetching a Data" : "No
                Data Available"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div class="share-pagination">
          <app-shared-pagination [paginationValues]="paginationValues" (onChange)="getSlidersWithFilters($event)">
          </app-shared-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- End of Footer -->
