/* * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       background-color: #161616;
       font-family: "Raleway", sans-serif;
     }
     
     body {
       margin: 0;
       padding: 0;
       background-color: #161616;
       font-family: "Raleway", sans-serif;
     } */
     
     .container {
       width: 100%;
       max-width: 1100px;
       min-height: 100vh;
       margin: 0 auto;
       padding: 20px;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
       grid-auto-flow: dense;
       grid-gap: 30px;
       align-items: center;
       justify-content: center;
     }
     
     .card {
       position: relative;
     }
     
     .card .card-media {
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       overflow: hidden;
       z-index: 1;
     }
     
     .card .card-media img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       transition: all 0.3s;
     }
     
     .card:hover .card-media img {
       transform: scale(1.05);
     }
     
     .card .card-media::before {
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(22, 22, 22, 0.3);
       transition: all 0.3s;
       z-index: 1;
     }
     
     .card:hover .card-media::before {
       background-color: #161616;
     }
     
     .card .card-content {
       display: flex;
       justify-content: center;
       flex-direction: column;
       padding: 40px;
       opacity: 0;
       transition: all 0.3s;
       z-index: 1;
     }
     
     .card:hover .card-content {
       opacity: 1;
     }
     
     .card .card-content .card-header {
       margin-bottom: 30px;
     }
     
     .card .card-content .card-header .card-date {
       display: block;
       color: rgba(255, 255, 255, 0.6);
       font-size: 15px;
       font-weight: 500;
       margin-bottom: 8px;
     }
     
     .card .card-content .card-header h3 {
       font-size: 32px;
       font-weight: 500;
       line-height: 43px;
     }
     
     .card .card-content .card-header h3 a {
       display: block;
       color: #ffffff;
       text-decoration: none;
       transition: all 0.3s;
     }
     
     .card .card-content .card-header h3 a:hover {
       color: #cf000f;
     }
     
     .card .card-content .card-desc {
       /* color: rgba(255, 255, 255, 0.6); */
       color: #ffffff;
       font-size: 15px;
       line-height: 27px;
     }
     
     .card .card-content .card-footer {
       margin-top: 100px;
     }
     
     .card .card-content .card-footer .read-more-link {
       display: inline-flex;
       align-items: center;
       color: #ffffff;
       font-size: 15px;
       font-weight: 500;
       text-decoration: none;
       transition: all 0.3s;

     }
     
     .card .card-content .card-footer .read-more-link:hover {
       color: #cf000f;
     }
     
     .card .read-more-link svg {
       height: 10px;
       margin-left: 10px;
       transition: transform 0.3s;
     }
     
     .card .read-more-link:hover svg {
       transform: translateX(5px);
     }
     
     .card .card-border span {
       display: inline-block;
       position: absolute;
       background-color: rgba(255, 255, 255, 0.4);
       transition: all 0.3s linear;
       z-index: 2;
     }
     
     .card .card-border span.top {
       width: 100%;
       height: 1px;
       top: 0;
       left: 0;
       transform: scaleX(0);
       transform-origin: left;
     }
     
     .card .card-border span.right {
       width: 1px;
       height: 100%;
       top: 0;
       right: 0;
       transform: scaleY(0);
       transform-origin: top;
     }
     
     .card .card-border span.bottom {
       width: 100%;
       height: 1px;
       bottom: 0;
       left: 0;
       transform: scaleX(0);
       transform-origin: right;
     }
     
     .card .card-border span.left {
       width: 1px;
       height: 100%;
       top: 0;
       left: 0;
       transform: scaleY(0);
       transform-origin: bottom;
     }
     
     .card:hover .card-border span.top {
       transform: scaleX(1);
     }
     
     .card:hover .card-border span.right {
       transform: scaleY(1);
       transition-delay: 0.3s;
     }
     
     .card:hover .card-border span.bottom {
       transform: scaleX(1);
       transition-delay: 0.6s;
     }
     
     .card:hover .card-border span.left {
       transform: scaleY(1);
       transition-delay: 0.9s;
     }
     
     /* Let's write the media query */
     @media (max-width: 1024px) {
       .container {
         grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
       }
     
       .card {
         grid-column: span 2;
         grid-row: span 2;
       }
     }
     /* fav */
     @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Ms+Madi&family=Noto+Sans+HK:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,500;1,900&family=Ms+Madi&family=Noto+Sans+HK:wght@100&family=Signika:wght@200&display=swap');
.search{
padding-left: 2rem;
font-size: 22px;
border: none;
margin-left: 0.2rem;
width: 80%;
/* background-color: rebeccapurple; */

}

form{
    
   margin-top: 7rem; 
   width:60%;
    height: 60px;
    border: transparent;
    border-radius: 19px;
    box-shadow: 10px 10px 8px #888888;
    margin-left: 9%;
   }

 input:focus{
       outline: none;
   }
   .fullpage {
      width: 80%;
   
    margin-left: 10%;
  
      
   
    }
.container{
      font-weight: 400;
      margin-top: 7vh;  
    /* padding: 20px; */
     

   
 
}
 .col-6{
    
      align-items: center;
      
      margin-top: 7vh;  
     
      
        
       
    
 }

       
 img{
      
       width:80% ;
      
     
 }
 .blogs{
   
      margin-top: 7vh;
      font-family: 'Noto Sans HK', sans-serif;
  
      word-spacing: 2px;
      letter-spacing: 1px;
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
     
     
  
     
      
 }
 .header{
      font-weight:800;
      letter-spacing: 1px;
    
      font-family: 'Noto Sans HK', sans-serif;
      width: 95%;
      border-bottom: solid 0.3px  #888888;
     
 }


 .peaple{
      margin-top: 7vh;  
   /* width: 70%; */
  
 }

 .title{
      font-family: 'Merriweather', serif;
 }

.future-btn{
color: antiquewhite;
text-align: center;
padding-top: 0px;
background-color: black;
border-radius: 20px;
height: 2.8vh;
width: 10vh;
margin-left: 9px;

}

.btn1{
      background-color: #888888;
      font-size: 30px;
}
.ppl{
     padding-top:  3vh;
}

.ppl-img {
margin-left: 30px;
border-radius: 50%;
width: 6.5vh;
height: 6.5vh;
}
.col-8{

     margin: 0px;
}
/* font-family: "Publico Text",Georgia,Times,"Times New Roman",serif!important; */


/* diomand button  */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.25s all 0.02s ease-in-out;
}




.transparent {
     
  position: relative;
  margin: 1rem auto;
  text-align: center;
  font-size: 0.6rem;
  line-height: 0.6rem;
  vertical-align: middle;
  color: #ffffff;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  border-color: #000000;
  padding: 0.5rem;
  cursor: pointer;
min-width: 10vh;
  background: transparent;
 
  /* width: calc(100% / 10); */
}

.transparent span {
  z-index: 20;
  position: relative;
  
}

.transparent::before,
.transparent::after {
  content: "";
  position: absolute;
  border-color: inherit;
  border-style: inherit;
  height: 50%;
  width: 100%;
  left: 0;
  z-index: 10;
  background-color: black;
}

.transparent::before {
  border-width: 2px 2px 0 2px;
  top: 0;
  transform-origin: center bottom;
  transform: perspective(0.2rem) rotateX(3deg);
}

.transparent::after {
  border-width: 0 2px 2px 2px;
  bottom: 0;
  transform-origin: center top;
  transform: perspective(0.2rem) rotateX(-3deg);
}



.transparent1 {
     
     margin-left: 20px;
     position: relative;
     
     text-align: center;
     font-size: 0.6rem;
     line-height: 0.6rem;
     vertical-align: middle;
     color: #ffffff;
     display: inline-block;
     border-width: 0;
     border-style: solid;
     border-color: gray;
     padding: 0.5rem;
     cursor: pointer;
   min-width: 10vh;
  
     background: transparent;
    
   
   }
   
   .transparent1 span {

     z-index: 20;
     position: relative;
     
   }
   
   .transparent1::before,
   .transparent1::after {
     content: "";
     position: absolute;
     border-color: inherit;
     border-style: inherit;
     height: 50%;
     width: 100%;
     left: 0;
     z-index: 10;
     background-color: gray;
   }
   
   .transparent1::before {
     border-width: 2px 2px 0 2px;
     top: 0;
     transform-origin: center bottom;
     transform: perspective(0.2rem) rotateX(3deg);
   }
   
   .transparent1::after {
     border-width: 0 2px 2px 2px;
     bottom: 0;
     transform-origin: center top;
     transform: perspective(0.2rem) rotateX(-3deg);
   }
   .col-8 h5{
     font-size:16px;
     font-family: 'Merriweather', serif;
   }
   .col-8 p{
     font-size:13px;
   }