<ngx-loading [show]="loading"
  [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
</ngx-loading>

<div class="modal-header custom-modal-header">
  <div style="font-size: 20px;">
    {{dialogType == 'update' ? 'Update Icon' : 'Add Icon'}}
  </div>
  <div class="modal-header-close-btn" (click)="onClose()">
    x
  </div>
</div>

<div class="modal-body custom-modal-body">
  <form #f="ngForm" novalidate autocomplete="off" *ngIf="journey_obj">
    <div class="row">
      <div class="col-12 ">
        <div class="form-group">
          <div>
            <label>journey Image</label>
          </div>
          <div class="uploaded-file-block" *ngIf="journey_obj.journeyImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" [src]="journey_obj.journeyImageUrl" /></div>
              <div class="close-btn-wrapper" (click)="clearCLFile()"><i class="fa fa-times-circle"
                  aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="uploaded-file-block" *ngIf="journey_obj.image && !journey_obj.journeyImageUrl">
            <div class="file-detail-wrap">
              <div class="uimage"><img width="100px" [src]="base_url+'/'+journey_obj.image" /></div>

            </div>
          </div>
          <button type="button" class="btn dark-blue-btn" (click)="journeyIconImageFile.click()">
            <div>
              <i class="fa fa-plus" aria-hidden="true"></i>
              Upload
            </div>
            <input #journeyIconImageFile type="file" (change)="onCLUpload($event)" accept="image/*"
              style="display: none" />
          </button>
        </div>
      </div>

      <div class="col-12 ">
        <div class="form-group">
          <label>journey Tag</label>
          <input type="text" class="form-control" id="journeyTag" name="journeyTag" placeholder="Enter journey Text"
            #journeyTag="ngModel" [(ngModel)]="journey_obj.journeyTag" required />
          <div class="alert alert-danger" *ngIf="journeyTag.touched && journeyTag.invalid">
            <p>Text can't be blank.</p>
          </div>
          <br>
          <label>journey Text</label>
          <input type="text" class="form-control" id="journeyText" name="journeyText" placeholder="Enter journey Text"
            #journeyText="ngModel" [(ngModel)]="journey_obj.journeyText" required />
          <div class="alert alert-danger" *ngIf="journeyText.touched && journeyText.invalid">
            <p>Text can't be blank.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="footer-block  mb-2 mt-4">
      <button type="submit" *ngIf="dialogType == 'add'" class="btn green-btn"
        [disabled]="f.invalid || !journey_obj.journeyText || !journey_obj.journeyImageUrl" (click)="addjourney()">Add
        journey</button>
      <button type="submit" *ngIf="dialogType == 'update'" class="btn green-btn" [disabled]="f.invalid"
        (click)="updatejourney()">Update journey</button>
      <button type="button" class="btn gray-btn" (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>
