<!-- <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">WELCOME BACK</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                    <label class="label" for="typeEmailX">Email</label>
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="email" />
                 
                </div>
  
                <div class="form-outline form-white mb-4">
                    <label class="label" for="typePasswordX">Password</label>
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="password" />
                  
                </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
  
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="/user" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 -->


 <div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center center-container">

    <div class="col-md-6 col-sm-8 col-12">
      <div class="card o-hidden border-0 shadow-lg">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row justify-content-center">
            <div class="col-12" style="position: relative;">
              <ngx-loading [show]="loading"
                [config]="{ backdropBorderRadius: '14px',backdropBackgroundColour:'rgba(255, 255, 255, 0.4)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
              </ngx-loading>

              <div class="p-4 login-form-block" *ngIf="step == 'login'">
                <div class="logo">
                  <img src="assets/img/logo.png">
                </div>
                <form class="user" #f="ngForm" novalidate autocomplete="off">
                  <div class="form-group">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="userEmail"
                      class="form-control form-control-user" id="exampleInputEmail" required
                      aria-describedby="emailHelp" placeholder="Enter Email Address..."
                      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z-.]+$">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                      <p *ngIf="email.errors.required">Email cannot be blank.</p>
                      <p *ngIf="email.errors.pattern">Please enter valid email.</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="userPass"
                      class="form-control form-control-user" id="exampleInputPassword" required placeholder="Password">
                    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                      <p>Password cannot be blank</p>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block" [disabled]="f.invalid"
                    (click)="login()">Login</button>
                </form>
                <hr>
                <div class="text-center mt-3">
                  <a class="nav-lnk" (click)="changeStep('forgot-password')">Forgot password?</a>
                </div>
              </div>

              <div class="p-4 login-form-block" *ngIf="step == 'forgot-password'">
                <div class="mb-4">
                  <h1 class="h4 title-login font-weight-bold">Forgot Password</h1>
                  <div class="title-sub-message">
                    Enter your email and we will send you a password reset link
                  </div>
                </div>
                <form class="user" #l="ngForm" novalidate autocomplete="off">
                  <div class="form-group">
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="resetEmail"
                      class="form-control form-control-user" id="exampleInputEmail" required
                      aria-describedby="emailHelp" placeholder="Enter Email Address..."
                      pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z-.]+$">
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                      <p *ngIf="email.errors.required">Email cannot be blank.</p>
                      <p *ngIf="email.errors.pattern">Please enter valid email.</p>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block" [disabled]="l.invalid"
                    (click)="forgotPassword()">Send Reset Link</button>
                </form>
                <hr />

                <div class="text-center mt-3">
                  <a class="nav-lnk" (click)="changeStep('login')">Back to Login</a>
                </div>
              </div>
          
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
