
<div class="container-fluid management-tab">
    <ngx-loading [show]="loading"
      [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
    </ngx-loading>
    <div class="row section-box">
      <div class="col-12">
        {{ type | titlecase }} subscriber
        <div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <form #f="ngForm" novalidate autocomplete="off">
              <div class="row">
  
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="subscriberName">Subscriber Name <span class="c-red">*</span></label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter subscriber Name" name="subscriberName"
                      #subscriberName="ngModel" [(ngModel)]="subscriber.subscriberName" required
                      [class.is-invalid]="f.submitted && subscriberName.invalid">
                    <div class="alert alert-danger" *ngIf="(subscriberName.touched || f.submitted) && subscriberName.invalid">
                      <p>Subscriber Name can't be blank.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="password">Password <span class="c-red">*</span></label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"
                      #password="ngModel" [(ngModel)]="subscriber.password" required
                      [class.is-invalid]="f.submitted && password.invalid">
                    <div class="alert alert-danger" *ngIf="(password.touched || f.submitted) && password.invalid">
                      <p>Password can't be blank.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="collectionname">Short Description <span class="c-red">*</span></label>
                    <input type="text" class="form-control" id="shortDescription" placeholder="Enter Short Description"
                      name="shortDescription" #shortDescription="ngModel" [(ngModel)]="subscriber.shortDescription" required
                      [class.is-invalid]="f.submitted && shortDescription.invalid">
                    <div class="alert alert-danger"
                      *ngIf="(shortDescription.touched || f.submitted) && shortDescription.invalid">
                      <p>Short Description can't be blank.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="collectiontext">Location <span class="c-red">*</span></label>
                    <input type="text" class="form-control" id="location" placeholder="Enter Keywords" name="location"
                      #location="ngModel" [(ngModel)]="subscriber.location" required
                      [class.is-invalid]="f.submitted && location.invalid">
                    <div class="alert alert-danger" *ngIf="(location.touched || f.submitted) && location.invalid">
                      <p>Location can't be blank.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="collectiontext">Website </label>
                    <input type="text" class="form-control" id="website" placeholder="Enter Website" name="website"
                      #website="ngModel" [(ngModel)]="subscriber.website">
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="collectiontext">Facebook Link </label>
                    <input type="text" class="form-control" id="facebookLink" placeholder="Enter Facebook Link" name="facebookLink"
                      #facebookLink="ngModel" [(ngModel)]="subscriber.facebookLink">
                  </div>
                </div>
                <div class="col-12 col-xl-3 col-md-4">
                  <div class="form-group">
                    <label for="collectiontext">Twitter Link </label>
                    <input type="text" class="form-control" id="twitterLink" placeholder="Enter Twitter Link" name="twitterLink"
                      #twitterLink="ngModel" [(ngModel)]="subscriber.twitterLink">
                  </div>
                </div>
  
                
                <div class="col-12 ">
                  <div class="form-group">
                    <div>
                      <label>Profile Image</label>
                    </div>
  
                    <div class="uploaded-file-block" *ngIf="subscriber.subscriberImageUrl">
                      <div class="file-detail-wrap">
                        <div class="uimage"><img width="100px" [src]="subscriber.subscriberImageUrl" /></div>
                        <div class="close-btn-wrapper" (click)="clearCLFile()"><i class="fa fa-times-circle"
                            aria-hidden="true"></i></div>
                      </div>
                    </div>
                    <div class="uploaded-file-block" *ngIf="subscriber.profileImage && !subscriber.subscriberImageUrl">
                      <div class="file-detail-wrap">
                        <div class="uimage"><img width="100px" [src]="base_url+'/'+subscriber.profileImage" /></div>
  
                      </div>
                    </div>
                    <button type="button" class="btn dark-blue-btn" (click)="subscriberImageFile.click()">
                      <div>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Upload
                      </div>
                      <input #subscriberImageFile type="file" (change)="onCLUpload($event)" accept="image/*"
                        style="display: none" />
                    </button>
                  </div>
                </div>
  
  
                <div class="col-12 ">
                  <div class="form-group">
                    <div>
                      <label>Cover Image</label>
                    </div>
  
                    <div class="uploaded-file-block" *ngIf="subscriber.CoverImageUrl">
                      <div class="file-detail-wrap">
                        <div class="uimage"><img width="100px" [src]="subscriber.CoverImageUrl" /></div>
                        <div class="close-btn-wrapper" (click)="clearCoverCLFile()"><i class="fa fa-times-circle"
                            aria-hidden="true"></i></div>
                      </div>
                    </div>
                    <div class="uploaded-file-block" *ngIf="subscriber.coverImage && !subscriber.CoverImageUrl">
                      <div class="file-detail-wrap">
                        <div class="uimage"><img width="100px" [src]="base_url+'/'+subscriber.coverImage" /></div>
  
                      </div>
                    </div>
                    <button type="button" class="btn dark-blue-btn" (click)="CoverImageFile.click()">
                      <div>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Upload
                      </div>
                      <input #CoverImageFile type="file" (change)="onCoverCLUpload($event)" accept="image/*"
                        style="display: none" />
                    </button>
                  </div>
                </div>
             
          
              </div>
              <div class="row mt-4 mb-4">
                <div class="col-12">
                  <button *ngIf="!subscriber._id"
                    [disabled]="f.invalid || !subscriber.subscriberImageFile" type="submit"
                    class="btn green-btn" (click)="onClickSave()">Save subscriber</button>
                  <button *ngIf="subscriber._id" [disabled]="f.invalid" type="submit"
                    class="btn green-btn" (click)="onClickSave()">Update subscriber</button>
                  <button type="button" class="btn gray-btn ml-4" (click)="onClickCancel()">Cancel</button>
                </div>
              </div>
            </form>
            <div>
            </div>
  
            <app-footer></app-footer>
          </div>
          <!-- End of Footer -->
  
  
  
          